 
<div class="container">
  <div class="container" id="article-container">
    <div class="container">
      <div class="row container">
        <div id="article-cards-holder"> 
          {{#each articles}} 
            {{#if saved}}
              <div class="col s3">
                <div class="card transparent" >
                  <div class="card-content" id="article-card">

                    <span class="card-title">       
                      <div class="imgBox">
                        <img src="{{imgUrl}}" alt="" class="storyImg" height="150">
                      </div>          
                      <a id="save" class="deleteArticle storyButton btn-floating btn waves-effect waves-light red right center save-article" data-id="{{_id}}">
                      <i class="material-icons">
                        remove
                      </i>
                      </a>
                      <h6 class="storyHeadline"> {{headline}} </h6>
                      <p class="storyByline">{{byLine}}</p>
                    </span>

                    <span class="summary storySummary">
                      <p>{{summary}}</p>
                    </span>

                  </div>

                  <div class="card-action center">
                    <button id="article-notes" data-target="notesModal" class="modal-trigger addNote storyButton btn card-btn" data-id="{{_id}}"> 
                      Add Note
                    </button>
                  </div>
                </div>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="center">
    <div class="container">
        <a class="btn center" href="/">
      Browse Articles
    </a>
    </div>
  </div>
</div>

